<div class="codeblock">
    <div class="code-header">{{ snippet.title }}
        <span class="lines">Lines {{ snippet.fromLine }}-{{ snippet.toLine }}</span>
        <a ng-href="{{ snippet.url }}" target="_blank">{{ snippet.fileName }}</a>
    </div>

    <div class="code-container">
        <pre><code class="language-{{ snippet.lang }}"> <span data-hljs data-code="codeRange"></span></code></pre>
        <div ng-style="commentBanner" class="comment-banner"><span class="text">{{ description }}</span></div>
        <div ng-style="marker" class="marker"></div>
        <div class="control">
            <a ng-click="prev()" class="fa fa-step-backward fa-lg"></a>
            <a ng-click="control.toggle()" class="fa fa-lg" ng-class="control.symbol()"></a>
            <a ng-click="next()" class="fa fa-step-forward fa-lg"></a>
        </div>
    </div>
</div>
