.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {

  .site-content > .container > div {
    float: left;
    width: 70%;
    display: block;
  }

  .site-content > .container aside {
    float: right;
    width: 25%;
    img { margin: 20px; }
  }
}
