.snippet {
  overflow-x: auto;
  font-size: 11px;
  position: relative;
  margin-top: 20px;
  background: white;
  border: 1px solid rgb(204,204,204);
  line-height: 14px;

  pre {
    word-wrap: normal;
    white-space: pre;
    word-break: normal;
    position: relative;
    border-width: 0;
    overflow-x: auto;
    z-index: 10;
    padding: 0 10px;

    code { white-space: pre; }
  }

  .marker {
    left: 0;
    z-index: 1;
    font-family: @font-family-monospace;
    right: 0;
    position: absolute;
    background: @snippet-marker-bg;
  }

  .comment-banner {
    left: 0;
    z-index: 11;
    right: 0;
    position: absolute;
    text-align: center;

    .text {
      color: #444;
      width: auto;
      background: rgba(240, 240, 240, 0.85);
      padding: 5px 10px 7px 10px;
      font-size: @font-size-base;
      font-family: @font-family-sans-serif;
      font-weight: bold;
      text-shadow: 0 0 10px white;
    }
  }

  .control {
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    padding: 6px 0 2px 0;
    margin: 15px;
    z-index: 100;
    font-size: @font-size-base;

    a {
      text-align: center;
      color: #333;
      padding: 0 5px 5px 5px;
      width: 25px;
      &:hover { color: darken(@brand-primary, 5%); }
    }
  }

  .code-container { height: auto; position: relative; }

  .code-header {
    background-color: @snippet-header-bg;
    color: @snippet-header-color;
    font-family: @font-family-monospace;
    padding: 4px 4px 4px 10px;
    font-weight: bold;
    font-size: @font-size-base;

    a {
      font-weight: bold;
      float: right;
      color: lighten(@brand-primary, 30%);
      &:hover  { color: darken(@brand-primary, 5%); }
    }

    .lines { float: right; padding-left: 20px; }
  }
}
